<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        .header {
            text-align: center;
            background-color: #f0f0f0;
        }
    </style>
</head>
<body>
<div class="header">
    <h1>
        Bonjour
        <span th:text="${client.nom}">Nom</span>
        <span th:text="${client.prenom}">Prénom</span>
    </h1>
    <form action="/store/home/logout" method="get">
        <button type="submit" >Déconnexion</button>
    </form>
</div>

<br>
<br>
<hr>
<hr>
<br>
<br>

<h2>Ajouter une commande</h2>
<form th:action="@{/store/commandes}" method="post">
    <input type="hidden" name="clientId" th:value="${client.id}" />

    <label>Nom de la commande :</label>
    <input type="text" name="nom" required />

    <button type="submit">Ajouter Commande</button>
</form>
<br>
<br>
<h2>Mes commandes</h2>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Date</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="cmd : ${commandes}">
        <td th:text="${cmd.id}"></td>
        <td>
            <a th:href="@{/store/commandes/{id}(id=${cmd.id})}"
               th:text="${cmd.nom}">
            </a>
        </td>
        <td th:text="${cmd.dateCommande}"></td>
    </tr>
    </tbody>

</table>

</body>
</html>
