<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Détail Commande</title>
</head>
<body>

<h1>Détail de la commande</h1>

<p>
    <strong>Nom :</strong>
    <span th:text="${commande.nom}"></span>
</p>

<hr>

<h2>Lignes de commande</h2>

<table>
    <thead>
    <tr>
        <th>Libellé</th>
        <th>Quantité</th>
        <th>Prix Unitaire</th>
        <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="ligne : ${commande.ligneCommandes}">
        <td th:text="${ligne.libelle}"></td>
        <td th:text="${ligne.quantite}"></td>
        <td th:text="${ligne.prixUnitaire}"></td>
        <td>
            <form th:action="@{/store/commandes/{id}/ligne-commande/remove(id=${commande.id})}" method="post">
                <button type="submit">Supprimer</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<hr>

<h2>Ajouter une ligne</h2>

<form th:action="@{/store/commandes/{id}/ligne-commande/add(id=${commande.id})}" method="post"
      th:object="${ligneCommande}">

    <label>Libellé :</label>
    <input type="text" th:field="*{libelle}" required /><br>
<br>
    <label>Quantité :</label>
    <input type="number" th:field="*{quantite}" required /><br>
    <br>
    <label>Prix Unitaire :</label>
    <input type="number" th:field="*{prixUnitaire}" required /><br>
<br>
    <button type="submit">Ajouter</button>
</form>

<br>
<a th:href="@{/store/home/reload(clientId=${commande.client.id})}">
    Retour
</a>

</body>
</html>
